@viewport {
  width: device-width ;
  zoom: 1;
} 

@-ms-viewport {
  width: device-width ;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 300px) {

        #control-panel-container {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.control-button-container {
    position: absolute;
    width: 95px;
    height: 60px;
}

#forward-button-container {
    top: 80px;
    left: 100px;
}

#reverse-button-container {
    bottom: 15px;
    left: 100px;
}

#left-button-container {
    top: 150px;
    left: 0;
}

#right-button-container {
    top: 150px;
    right: 0;
}

#stop-button-container {
    top: 150px;
    left: 100px;
}

.control-button {
    position: absolute;
    width: 85px;
    height: 55px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-size: 15px;
    font-family: "Helvetica";
    color: rgb(16, 16, 16);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {

    width: 100%; /* Full-width */
    height: 25px; /* Specified height */

    outline: none; /* Remove outline */

}








} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {

        #control-panel-container {
    position: absolute;
    width: 540px;
    height: 380px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.control-button-container {
    position: absolute;
    width: 180px;
    height: 120px;
}

#forward-button-container {
    top: 25px;
    left: 180px;
}

#reverse-button-container {
    bottom: 0px;
    left: 180px;
}

#left-button-container {
    top: 145px;
    left: 0px;
}

#right-button-container {
    top: 145px;
    right: 0px;
}

#stop-button-container {
    top: 145px;
    left: 180px;
}

.control-button {
    position: absolute;
    width: 170px;
    height: 110px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 110px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-size: 15px;
    font-family: "Helvetica";
    color: rgb(16, 16, 16);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #e28148; /* orange background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #963530; /* maroon background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #963530; /* maroon background */
    cursor: pointer; /* Cursor on hover */
}


}



/* Extra large devices ( laptops and desktops, 992px and up) */
@media only screen and (min-width: 992px) {

     #control-panel-container {
    position: absolute;
    width: 540px;
    height: 380px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.control-button-container {
    position: absolute;
    width: 180px;
    height: 120px;
}

#forward-button-container {
    top: 25px;
    left: 180px;
}

#reverse-button-container {
    bottom: 0px;
    left: 180px;
}

#left-button-container {
    top: 145px;
    left: 0px;
}

#right-button-container {
    top: 145px;
    right: 0px;
}

#stop-button-container {
    top: 145px;
    left: 180px;
}

.control-button {
    position: absolute;
    width: 170px;
    height: 110px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 110px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid lightgray;
    border-radius: 3px;
    font-size: 15px;
    font-family: "Helvetica";
    color: rgb(16, 16, 16);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #e28148; /* orange background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #963530; /* maroon background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #963530; /* maroon background */
    cursor: pointer; /* Cursor on hover */
}

}



  

